<div class="sidebar-card profile">
    <div class="profile">
      <a href="{{ site.data.user.profile_link }}" | absolute_url }}">
      <img class="profile-pic" src="{{ site.baseurl }}/{{ site.data.user.profile_pic }}" alt="">
      </a>
        <a class="silent-link" href="{{ site.data.user.profile_link }}" | absolute_url }}">
            <h1 class="user-name silent-link">{{ site.data.user.user_name }}</h1>
        </a>
</div>
  <div class="sidebar-link-box profile" style="background-color: #2892c7;">
      <a href="/pages/articles">articles</a>
  <div class="sidebar-link-box profile" style="background-color: #74abad;">
      <a href="/pages/journal">journal</a>
  <div class="sidebar-link-box profile" style="background-color: #e3eb75;">	  
      <a href="/pages/all-wiki">wiki</a>
  <div class="sidebar-link-box profile" style="background-color: #f56325;">	  
      <a href="/pages/daily">daily</a>
    </div>
      <div class="sidebar-link-box profile" style="background-color: #acc993;">
      <a href="/pages/latest">latest</a>
      <div class="sidebar-link-box profile" style="background-color: #e3eb75;">	  
      <a href="/pages/archive">archive</a>
      <div class="sidebar-link-box profile" style="background-color: #fcde56;">	  
      <a href="/pages/tags">index</a>
      <div class="sidebar-link-box profile" style="background-color: #fca03d;">	  
      <a href="/pages/scrapbook">scrapbook</a>
      <div class="sidebar-link-box profile" style="background-color: #f56325;">
      <a href="/pages/library">library</a>
      <div class="sidebar-link-box profile" style="background-color: #e81014;">     
	  <a href="/ring">webring</a>

    </div>
  </div>