<div class="sidebar-card profile">
    <div class="profile">
      <a href="{{ site.data.user.profile_link }}" | absolute_url }}">
      <img class="profile-pic" src="{{ site.baseurl }}/{{ site.data.user.profile_pic }}" alt="">
      </a>
        <a class="silent-link" href="{{ site.data.user.profile_link }}" | absolute_url }}">
            <h1 class="user-name silent-link">{{ site.data.user.user_name }}</h1>
        </a>
</div>
  <div class="sidebar-link-box profile" style="background-color: white;">
      <a style="background-color: #2892c7;" href="/pages/articles">articles</a>
      <a style="background-color: #74abad;" href="/pages/journal">journal</a>	  
      <a style="background-color: #accecf;" href="/pages/all-wiki">wiki</a>
      <a style="background-color: #93c9ab;" href="/pages/daily">daily</a>
    </div>
  <div class="sidebar-link-box profile" style="background-color: white;">
      <a style="background-color: #8fc972;" href="/pages/latest">latest</a>  
      <a style="background-color: #e3eb75;" href="/pages/archive">archive</a>
      <a style="background-color: #fcde56;" href="/pages/tags">index</a>
      <a style="background-color: #fca03d;" href="/pages/scrapbook">scrapbook</a>
      <a style="background-color: #f56325;" href="/pages/library">library</a>   
	  <a style="background-color: #e81014;" href="/ring">webring</a>

    </div>
  </div>